* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #b068e9, #6463e7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url(./images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.woman {
  width: 237px;
  height: 180px;
  margin-top: -107px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 38px;
}

h1 {
  color: #1e1f36;
}

.question-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.qaDiv {
  width: 279px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  font-size: 13px;
  color: #4b4c5f;
}

.line {
  width: 279px;
  height: 1px;
  background-color: #e8e8ea;
}
